@import '../../scss/variables';

.paging {
    padding-top: 30px;
    display: flex;
    align-items: center;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    padding: 5px 12px;
    margin-right: 4px;
    color: $text;
    cursor: pointer;
    border: none;
    background: none;
}

.active,
.link:hover,
.link:focus {
    border-radius: 50%;
    background-color: $background;
}

.next {
    border: none;
    margin-left: 12px;
    padding-right: 10px;
    padding: 5px 12px;
    background: #fff;
    cursor: pointer;
}

.next:hover {
    background: $background;
    border-radius: 12px;
}