@import '../../scss/variables';

.header {
    border-bottom: 1px solid $gray-line;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &Left {
        display: flex;
        align-items: center;
        gap: 15px;

        @media (max-width: 1200px) {
            flex-direction: column;
        }
    }

    a {
        text-decoration: none;
    }


    &Logo {
        height: 48px;
        display: flex;
        align-items: center;
    }

    >img {
        width: 45px;
        height: 45px;
    }

    &Descr {
        margin-left: 13px;
    }

    &Title {
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: $titleBlack;
    }

    &Subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $subtitleGray;
    }

    &Buttons {
        display: flex;
        gap: 10px;

        button {
            width: 133px;
            height: 46px;
            background: $greenActive;
            border-radius: 30px;
            border: none;

            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            cursor: pointer;

            &:hover {
                background-color: darken($greenHover, 2%);
                color: $white;
            }

            @media (max-width: 1355px) {
                height: 43px;
                width: 120px;
            }

            @media (max-width: 1150px) {
                height: 40px;
                width: 96px;
                font-size: 14px;
            }
        }

        @media (max-width: 1200px) {
            align-self: start;
        }

        @media (max-width: 800px) {
            align-self: center;
        }
    }

    @media (max-width: 1150px) {
        &Title {
            font-size: 20px;
        }
    }

    @media (max-width: 800px) {
        flex-direction: column;
        gap: 20px;

        &Subtitle {
            display: none;
        }
    }
}