$--m: 8px;

$black: #000000;
$titleBlack: #181818;
$text: #2c2c2c;
$subtitleGray: #7B7B7B;

$white: #fff;
$background: #e5e5e5;
$gray-line: #F7F7F7;

$green: #4EE2AE;
$greenHover: #36bb95;
$greenActive: #015F45;
$greenText: #015F45;

$red: #dd1035;
$redBorder: #871c32;

$container-width: 90%;